<%
  const today = new Date().toISOString().split("T")[0];

  const overdue = allTodos.filter(todo => todo.dueDate < today && !todo.completed);
  const dueToday = allTodos.filter(todo => todo.dueDate === today && !todo.completed);
  const dueLater = allTodos.filter(todo => todo.dueDate > today && !todo.completed);
%>

<section style="border: none; padding: 0;">
    <h5>Overdue <span id="count-overdue">(<%= overdue.length %>)</span></h5>
<ul class="list-none">
  <% overdue.forEach(todo => { %>
    <li class="Todo-Item">
      <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-aqua-50">
        <input id="todo-overdue-<%= todo.id %>" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300"/>
        <label for="todo-overdue-<%= todo.id %>" class="ml-2 text-sm text-gray-600"><%= todo.title %></label>
        <a href="#" class="ml-2 trash-icon">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-3.5 h-3.5 text-red-500 hover:text-red-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6M9 7V4a1 1 0 011-1h4a1 1 0 011 1v3m-7 0h8"/>
          </svg>
        </a>
      </div>
    </li>
  <% }) %>
</ul>
</section>

<section style="border: none; padding: 0;">
    <h5>Due Today <span id="count-due-today">(<%= dueToday.length %>)</span></h5>
<ul class="list-none">
  <% dueToday.forEach(todo => { %>
    <li class="Todo-Item">
      <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-aqua-50">
        <input id="todo-today-<%= todo.id %>" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300"/>
        <label for="todo-today-<%= todo.id %>" class="ml-2 text-sm text-gray-600"><%= todo.title %></label>
        <a href="#" class="ml-2 trash-icon">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-3.5 h-3.5 text-red-500 hover:text-red-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6M9 7V4a1 1 0 011-1h4a1 1 0 011 1v3m-7 0h8"/>
          </svg>
        </a>
      </div>
    </li>
  <% }) %>
</ul>
</section>

<section style="border: none; padding: 0;">
    <h5>Due Later <span id="count-due-later">(<%= dueLater.length %>)</span></h5>
<ul class="list-none">
  <% dueLater.forEach(todo => { %>
    <li class="Todo-Item">
      <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-aqua-50">
        <input id="todo-later-<%= todo.id %>" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300"/>
        <label for="todo-later-<%= todo.id %>" class="ml-2 text-sm text-gray-600"><%= todo.title %></label>
        <a href="#" class="ml-2 trash-icon">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-3.5 h-3.5 text-red-500 hover:text-red-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6M9 7V4a1 1 0 011-1h4a1 1 0 011 1v3m-7 0h8"/>
          </svg>
        </a>
      </div>
    </li>
  <% }) %>
</ul>
</section>